/* ==========================================
   CONFIGURAÇÃO GLOBAL DE IMPRESSÃO
   ========================================== */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

@media print {

  body * {
    visibility: hidden;
  }

  .area-impressao,
  .area-impressao * {
    visibility: visible;
  }

  .area-impressao {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 4.5cm;
    margin-bottom: 3cm;
    margin-left: 2cm;
    margin-right: 2cm;
  }

}